.nuxtjs-bootstrap-sidebar.paper-theme {
  width: 260px;
  overflow: auto;
  color: #fff;
  background-color: $default-bg;
  &.left {
    border-left: 5px solid $black-bg;
    border-right: 5px solid $bg-danger;
  }
  &.hidden {
    left: -270px;
  }
  &.right {
    border-right: 5px solid $black-bg;
    border-left: 5px solid $bg-danger-transparent;
  }
  &.hidden {
    right: -270px;
  }
  .sidebar-header {
    .logo-mini {
      display: inline-block;
      img {
        margin: 0 0 !important;
        padding: 3px;
        background-color: #fff;
        height: 60px !important;
        width: 60px !important;
        border-radius: 50%;
      }
      .logo-title {
        h2 {
          margin: 0;
          position: relative;
          top: 10px;
          background-color: #fff;
          border-radius: 25px;
          color: $color;
          padding-left: 20px;
          padding-right: 20px;
          margin-left: -25px;
          z-index: -1;
        }
      }
    }

    .sidebar-button.visible {
      border: 1px solid $default-body-bg;
      color: $default-body-bg;
      background-color: $default-bg;

      &:hover {
        border: 1px solid $default-bg;
        color: $default-bg;
        background-color: $default-body-bg;
      }

      svg {
      }
    }
    .sidebar-button.hidden {
    }
  }

  hr {
    margin: 0 auto;
    width: 80%;
    color: $black-hr;
    background-color: $black-hr;
  }

  .list-group {
    .list-group-item {
      color: $smoke-bg;
      font-weight: $font-weight-bold;
      font-size: $font-size-blockquote;
      a {
      }
      span.fa-icon {
      }

      span.fa-icon.right {
      }
    }

    .list-group-item.child-level-1 {
      font-size: $font-size-small;
    }

    .list-group-item.router-link-exact-active,
    .list-group-item.nuxt-link-exact-active,
    .list-group-item:hover {
      background-color: $bg-danger;
      color: $white-color;

      .before {
        background-color: $bg-danger;
      }
      .after {
        background-color: $bg-danger;
      }

      .before::before {
        background-color: $default-bg;
      }
      .after::after {
        background-color: $default-bg;
      }
    }
  }
}

.main-panel.paper-theme {
  .nav {
    background-color: $default-body-bg;
    .navbar-nav {
      .nav-item {
        .nav-link {
          .btn {
            margin-top: 0;
            margin-bottom: 0;
          }
        }
      }
    }
  }
  &.left {
    left: 285px;
    .nav {
      .nav-item.left {
        position: absolute;
        top: 0;
      }
    }
  }

  &.right {
    right: 285px;
    .nav {
      .nav-item.left {
        position: absolute;
        top: 0;
      }
    }
  }

  .content {
    background-color: $default-body-bg;
    min-height: 100%;
    padding: 10px;
  }

  &.visible {
  }

  &.hidden {
  }
}

@media (min-width: 576px) and (max-width: 991.98px) {
  .nuxtjs-bootstrap-sidebar {
    &.left.hidden {
      .sidebar-header {
        padding: 3px 0 !important;
        margin: 3px 0 !important;
        .logo-mini {
          img {
          }

          .logo-title {
          }
        }
      }

      .list-group {
        .list-group-item {
          .link-name {
          }
        }
      }
    }

    &.right.hidden {
      .sidebar-header {
        .logo-mini {
          img {
          }

          .logo-title {
          }
        }
      }

      .list-group {
        .list-group-item {
          .link-name {
          }
        }
      }
    }
  }

  .main-panel.left.hidden {
    left: 100px;

    .nav-item.left {
      left: 100px;
    }
  }

  .main-panel.right.hidden {
    right: 100px;

    .nav-item.right {
      right: 100px;
    }
  }
}
